#image{
    height: 20rem;
    width: auto;

}

#main{
  
        height: 600px;
        width: 100%; 
        background-image: url('https://admission.darshan.ac.in/Default/ClientPanel/media/DU_Campus_AboutUs.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        background-attachment: fixed;
      
      
}
